{% extends "admin/layout/layout.html.twig" %}

{% block content %}

{% include 'admin/partials/menu.html.twig'  with {'profile': 'profile_pic'} %}

<div class="col-md-9 main-content">
    <div class="row">
        <div class="col-md-12 section-header">
            <div class="col-md-9">
                <h1>Educations</h1>
            </div>
            <div class="col-md-3">
                <button class="load-education-form"><i class="fa fa-plus"></i> Add Education</button>
            </div>
        </div>
    </div>
    <div class="row"><div class="col-md-12 divider"><hr></div></div>
    <div class="row">
        {% if educations is empty %}
            <div class="col-md-12 item">
                <div class="col-md-12">
                    <h2>You have not added any educations yet. Please <a href="#" class="load-education-form">add</a> now.</h2>
                </div>
            </div>
        {% else %}
            {% for education in educations %}
                <div class="col-md-12 item">
                    <div class="col-md-8 item-name"><p>{{ education.course }}</p></div>
                    <div class="col-md-4 action-menu">
                        <ul>
                            <li>
                                <a href="#" class="alt edit-education" data-id="{{ education.id }}" data-toggle="tooltip" data-placement="top" title="Edit Education">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="alt delete-education" data-id="{{ education.id }}" data-toggle="tooltip" data-placement="top" title="Delete Education">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
</div>

<div id="education-form" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Educations</h2>
                <hr>
                <form class="form-horizontal" method="post" action="">
                    <div class="form-group">
                        <label for="course" class="col-md-3 control-label">Course</label>
                        <div class="col-md-9">
                            <input type="text" name="course" class="form-control course"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="school" class="col-md-3 control-label">School</label>
                        <div class="col-md-9">
                            <input type="text" name="school" class="form-control school"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-md-3 control-label">Location</label>
                        <div class="col-md-9">
                            <input type="text" name="location" class="form-control location"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="start-year" class="col-md-3 control-label">Start Year</label>
                        <div class="col-md-9">
                            <input type="text" name="start-year" class="form-control start-year"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="end-year" class="col-md-3 control-label">End Year</label>
                        <div class="col-md-9">
                            <input type="text" name="end-year" class="form-control end-year"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="hidden" name="id" class="form-control education-id"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 buttons">
                            <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-success save-education">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}